{{ 'custom-addon.css' | asset_url | stylesheet_tag }}

<div class="custom-addon-main-wrapper">
  <div class="custom-addon-products-wrapper">
    {% for addon_product in product.selected_or_first_available_variant.metafields.custom.addon2.value %}
      <div class='addon-wrapper' data-id="{{ addon_product.selected_or_first_available_variant.id }}">
        <img src="{{ addon_product.featured_image.src |  image_url: width: 150 }}" alt="">
        <input
          type="checkbox"
          class="addon-checkbox"
          data-addon-id="{{ addon_product.selected_or_first_available_variant.id }}" />
        <span class="h3">{{ addon_product.title }}</span>
      </div>
    {% endfor %}
  </div>
</div>