{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left:{{section.settings.padding_leff | times:0.75 | round : 0}}px;
    padding-right:{{section.settings.padding_right | times:0.75 | round:0}}px;
     font-family: 'Sofia sans';
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      padding-left:{{section.settings.padding_left}}px;
      padding-right:{{section.settings.padding_right}}px;
    }
  }
{%- endstyle -%}
<div id="carousel-with-text-container--{{ section.id }}" class="carousel-with-text-container section-{{ section.id }}-padding" >


  <!-- Reading Content from Section settings -->

  {{ section.settings.section_heading }}
  
  <!-- Reading Content from Blocks settings -->
  {% for block in section.blocks %}

    {{ block.settings.block_heading }}
    {{ block.settings.block_sub_heading }}
    {{ block.settings.block_description }}
    
  {% endfor %}
  
</div>

{% schema %}
 {
  "name": "Carousel with text",
  "tag": "section",
  "class": "carousel-with-text another-test-class",
  "settings": [

    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading"
    },
    
    {
      "type": "header",
      "content": "Padding customisation"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_left",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_right",
      "default": 36
    },
    
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "Slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "block_heading",
          "label": "Heading",
          "default": "Exquisite Watches"
        },
        {
          "type": "richtext",
          "id": "block_sub_heading",
          "label": "Sub heading"
        },
        {
          "type": "richtext",
          "id": "block_description",
          "label": "Description",
          "default": "<p>Discover the Perfect Watch for Every Occasion and Elevate Your Style with Timeless Elegance and Precision Craftsmanship - watch</p>"
        },
        {
          "type": "text",
          "id": "block_price",
          "label": "Price",
          "default": "$499.00"
        },
        {
          "type": "checkbox",
          "id": "show_social_icons",
          "label": "Show social icons",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image",
          "info": "Recommended Size: 500 X 600"
        }
      ]
    }
  ],
    "presets": [
    {
      "name": "Carousel with text",
      "blocks": [
        {
          "type": "Slide"
        }
      ]
    }
  ]
}
{% endschema %}